.ZukitcraftText{
    text-align: center;
}
#avatarChanel{
    text-align: center;
}
#getLink{
    background-color: aquamarine;
    border-radius: 20px;
    font-size: 25px;
    width: 300px;
    height: 50px;
}
#TitleGetlink{
    font-size: 35px;
}
html{
    background: rgb(177, 237, 255);
}
div{
    text-align: center;
}